{#
/**
 * @file
 * Theme for timeline.
 *
 * Available variables:
 * - content: The content to render.
 */
#}
<div class="entity-timeline">
  {% if content %}
    {{ content }}
  {% else %}
    {% trans %}No results found.{% endtrans %}
  {% endif %}
</div>
