{#
/**
 * @file
 * Theme for timeline item.
 *
 * Available variables:
 * - item: The timeline item entity.
 * - record: The current record.
 * - record.entity: The entity.
 * - record.entity_definition: The entity type definition.
 * - text: The text message.
 * - rendered_entity: The rendered entity.
 */
#}
<div class="entity-timeline-item">
  <div>
    {{ text }}
    <small>{% trans %}{{ date }} ago{% endtrans %}</small>
  </div>
  {{ rendered_entity }}
</div>
